@media only screen and (min-width: 250px) and (max-width: 426px) {
    .form-group{
        display:flex;
        justify-content: center;
    }
    .col-md-12, .col-sm-2, .col-sm-8, .col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .col-md-12 {
        width: 100%;
    }
    
    .col-sm-2 {
        width: 30%;
    }
    
    .col-sm-8 {
        width: 66.66666667%;
    }
    
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-offset-8 {
        margin-left: 53%;
    }

    .control-label{
        padding-top:0px;
    }

    .page-title{
        margin-top: 10px;
    }
    .panel-body{
        padding-top: 10px;
    }
    
    
    b{
        display: none;
    }
    .menu-btn{
        height: 60px;
    }

    .brand{
        z-index: 5;
    }
}

.image{
    position: fixed;
    top: 0px;
    left: 0px;
}

.logo{
    position: fixed;
    top: 0px;
    left: 60px;
    padding-left: 10px;
}