body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.page-title {
    margin: 0px;
    border-bottom: 1px solid grey;
}

.row {
    display: flex;
    justify-content: left;
    padding-top: 20px;
    height: 270px; /* Set height to auto to allow growth */
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.content {
    background-color: #fff;
    padding: 0px;
    border: 1px solid #325d88;
    border-radius: 8px;
    height: 270px;
}

.table-wrapper {
    max-height: 500px; /* Increase height */
    overflow-y: auto;
    border-radius: 8px;
}

.table-wrapper::-webkit-scrollbar {
    width: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 1;
    color: white;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

@media only screen and (min-width: 202px) and (max-width: 600px) {
    .form-group{
        display:flex;
        justify-content: center;
    }
    .col-md-12, .col-sm-2, .col-sm-8, .col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .col-md-12 {
        width: 100%;
    }
    
    .col-sm-2 {
        width: 30%;
    }
    
    .col-sm-8 {
        width: 66.66666667%;
    }
    
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-offset-8 {
        margin-left: 53%;
    }

    .control-label{
        padding-top:0px;
    }

    .page-title{
        padding-top: 10px;
    }
    .panel-body{
        padding-top: 10px;
    }
    .content{
        width: 215%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
    .content{
        width: 500%;
    }
    .page-title{
        width: 270%;
    }
}