.notice-container{
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #325d88;
    border-radius: 10px;
    margin-bottom: 40px;
    height: 70vh;
    overflow-y: auto;
}


  
.notice-container::-webkit-scrollbar {
    width: 8px;
}
  
.notice-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
  
.notice-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.notice{
    margin: 20px 5px;
    padding: 0px;
    border: 2px solid #325d88;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0 rgb(166, 166, 166);

}

.notice-header{
    background-color: #325d88;
    justify-content: space-between;
    display: flex;
    height: 40px;
    align-items: center;
    font-size: 23px;
    
}

.notice-header .title{
    font-weight:bolder;
    font-size: 20px;
    color: white;

}

.notice-header .time{
    text-align: right;
    color: rgb(186, 186, 186);
    font-size: 10px;
    margin-right: 20px;
}

.notice-content{
    text-align:center;
    padding: 30px 5px;
    font-size: 20px;
    max-height: 150px;
    overflow-y: auto;
}
.notice-content::-webkit-scrollbar {
    width: 4px;
}
  
.notice-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
  
.notice-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.page-title span{
    margin-bottom: 20px;
}

.title{
    width: 70%;
    overflow: hidden;
}

.notice {
    background-color: #ffffff;
    border: 1px solid #325d88;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.notice-header {
    background-color: #325d88;
    color: white;
    padding: 10px 10px 10px 20px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
}

.notice-content {
    padding: 15px 30px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.page-title{
    margin-bottom: 20px;
    padding-top: 15px;
}

.notice-container{
    margin-top: 20px;
}


@media only screen and (min-width: 250px) and (max-width: 426px) {
    
    
    .form-group{
        display:flex;
        justify-content: center;
    }
    .col-md-12, .col-sm-2, .col-sm-8, .col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .col-md-12 {
        width: 100%;
    }
    
    .col-sm-2 {
        width: 30%;
    }
    
    .col-sm-8 {
        width: 66.66666667%;
    }
    
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-offset-8 {
        margin-left: 53%;
    }

    .control-label{
        padding-top:0px;
    }

    .page-title{
        padding-top: 20px;
    }
    .panel-body{
        padding-top: 10px;
    }

    .notice-content{
        font-size: 17px;
    }
    
    
}